---
name: terraform-pipeline
on:
  push:
    branches:
      - main
  pull_request: null
permissions:
  contents: read
  id-token: write
  
jobs:
  terraform:
    name: terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/237399708140/locations/global/workloadIdentityPools/github-actions/providers/github
          service_account: github-workload-identity@terrafor-project-483505.iam.gserviceaccount.com

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.5   # pick the version you need    
      - name: terraform init
        run: terraform init
      - name: terraform validate
        run: terraform validate
      - name: terraform plan
        run: terraform plan
      - name: terraform apply
        run: terraform apply  -auto-aprove -input=false
