# This is a basic workflow to help you get started with Actions

name: terraform-pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  terraform:
    name: "terraform"
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - id: auth
        uses: google-github-actions/auth@v2.0.0
        with:
          workload_identity_provider: 'projects/237399708140/locations/global/workloadIdentityPools/github-actions/providers/github'
          service_account: 'github-workload-identity@terrafor-project-483505.iam.gserviceaccount.com'


      - name: "terraform init"
        run:  terraform init

      - name: "terraform validate"
        run: terraform validate

      - name: "terraform plan"
        run:  terraform plan

      - name: "terraform apply"
        run: terraform apply  --auto-aprove=false

        

          
