---
name: terraform-pipeline
on:
  push:
    branches:
      - main
  pull_request: null

  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment'
        required: true
        type: choice
        options:
          - dev
          - staging
          - prod
      action:
        description: 'Terraform action'
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy
      approval:
        description: 'Type "yes" to approve apply/destroy'
        required: true
        default: 'no'


permissions:
  contents: read
  id-token: write
  
jobs:
  terraform:
    name: terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/237399708140/locations/global/workloadIdentityPools/github-actions/providers/github
          service_account: github-workload-identity@terrafor-project-483505.iam.gserviceaccount.com

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.5   # pick the version you need    
      - name: terraform init
        run: terraform init
      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' }}
        run: terraform plan -var="environment=${{ github.event.inputs.environment }}"

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' && github.event.inputs.approval == 'yes' }}
        run: terraform apply -auto-approve -var="environment=${{ github.event.inputs.environment }}"

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' && github.event.inputs.approval == 'yes' }}
        run: terraform destroy -auto-approve -var="environment=${{ github.event.inputs.environment }}"
